*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #532513;
    padding: 100px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #af8d80;
    border-radius: 25px;
    padding: 50px 0;
    box-shadow: 10px 10px #290d02;
}

img{
    border-radius: 100%;
    width: 350px;
    height: auto;
    box-shadow: 0px 20px 20px 20px #290d02;
    border: solid 1px #af8d80;

}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color:#C42C08;
    padding: 35px 0;
    text-shadow:0 10px 10px #290d02;
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: #461805;
}

input{
    padding: 15px 8px;
    margin: 0 20px;
    border-radius: 10px;
    outline: none;
    border: solid black;
    background-color: #af8d80;
    box-shadow: 0 10px 10px #290d02;
}

button{
    padding: 15px 50px;
    margin: 30px;
    border-radius: 50px;
    background-color: #532513;
    color: #fff;
    box-shadow: 0 10px 10px #290d02;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:hover{
    color: #fff;
    background:#C42C08;
    transform: scale(0.985);
    opacity: 0.8;
}

button:active{
    background:#972005;
    transform: scale(1.02);
}

@media screen and (max-width: 700px){
    
    .all{
        width: 80vw;
    }

    img{
     width:200px;
    }

    input{
        max-width: 125px;
        padding: 10px 5px;
        margin: 0 5px;
        border-radius: 10px;
    }

    button{
        padding: 15px 30px;
        margin: 30px;
        border-radius: 50px;
    }

}